<body>
  <div class="main_container">
    <div class="information">
    <h2>スケジュール一覧</h2>

</div>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>スケジュール更新日時</th>
            <th>確認</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
    </thead>

    <tbody>
<% @tasks.each do |task| %>
                <tr>
                    <td><%= task.id %></td>
                    <td><%= task.tite %></td>
                    <td><%= task.start_at&.strftime('%Y年%m月%d日 %H時%M分') %></td>
                    <td><%= task.end_at&.strftime('%Y年%m月%d日 %H時%M分') %></td>
                    <td><%= task.is_all_day ? 'O' : 'X' %></td>
                    <td><%= task.created_at&.strftime('%Y年%m月%d日 %H時%M分') %></td>
                    <td>
                       <%= link_to "確認", task %>
                    </td>
                    <td>
                        
                        <%= link_to "編集", edit_task_path(task) %>
                    </td>
                    <td>
                    <div>
                        <%= button_to "このタスクを削除する",task_path(task) , method: :delete, class: "clear" %>
                    </div>
                    </td>
                </tr>
                
                </div>
<% end %>
    </tbody>
</table>

<%= link_to "新規作成", new_task_path %>
</body>