<p>
    <strong>id:</strong>
    <%= @task.id %>
  </p>

  <p class="any">
    <strong>タイトル:</strong>
    <%= @task.tite %>
  </p>

  <p>
    <strong>開始日:</strong>
    <%= @task.start_at %>
  </p>

  <p>
    <strong>投稿日時:</strong>
    <%= @task.end_at %>
  </p>

  <p>
    <strong>終日:</strong>
    <%= @task.is_all_day %>
  </p>

  <p>
    <strong>スケジュールメモ:</strong>
    <%= @task.introduction %>
  </p>



<div>
  <%= link_to "このタスクを編集する", edit_task_path(@task) %> |
  <%= link_to "一覧に戻る", tasks_path %>

  <%= button_to "このタスクを削除する", @task, method: :delete %>

  </div>